@import "tailwindcss";

@theme {
  /* success colors  */
  --color-success-pressed: #4BBFB4; 
  --color-success-primary: #46B4A9; 
  --color-success-bg: #DEFFFC; 
  --color-success-focus: #A1F5ED; 
  --color-success-border: #67EBDE;
  --color-success-hover: #30DECE;

  /* warning colors */
  --color-warning-pressed: #F2A03D; 
  --color-warning-primary: #F2B035; 
  --color-warning-bg: #FFEBC6; 
  --color-warning-focus: #FFDCB1; 
  --color-warning-border: #FFC682;
  --color-warning-hover: #FFB55B;

  /* danger colors */
  --color-danger-pressed: #B90209; 
  --color-danger-primary: #DC3545; 
  --color-danger-bg: #FEEDEE; 
  --color-danger-focus: #F0B3B6; 
  --color-danger-border: #E88D91;
  --color-danger-hover: #E1676C;

  /* primary colors */
  --color-primary-pressed: #432073; 
  --color-primary-main: #4E3473; 
  --color-primary-hover: #9C55F6;
  --color-primary-border: #C0BBF4; 
  --color-primary-focus: #D7C9FF; 
  --color-primary-bg: #E8E7FD;
  --color-primary-secondary: #F9F4FF;

  /* text & icons colors */
  --color-text-primary: #0A0A0A;
  --color-text-description-primary: #424242;
  --color-text-disabled: #616161;
  --color-icon-hover: #757575;
  --color-text-placeholder: #9E9E9E;
  --color-icon-primary: #C2C2C2;
}

@tailwind utilities;
@layer components {
  /* buttons */
  .btn-ghost {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 whitespace-pre rounded-lg px-6 py-2 text-sm font-medium transition-all hover:bg-gray-300 hover:text-gray-700;
  }

  /* lobby  */
  .container-field {
    @apply w-full pl-8 py-2 gap-2 h-full text-lg text-black transition-all cursor-pointer hover:bg-primary-bg flex flex-col rounded-[58px];
  }

}